div.table
{
    display: table;
    width: 100%;
}
div.tr, form.tr
{
    display: table-row;
}
span.td
{
    display: table-cell;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
span.bold
{
    font-weight: bold;
}